.text {
  width: 315px;
  height: 40px;
}

.header-cal {
  color: #21baa3;
  text-align: center;
  padding-top: 20px;
  margin-bottom: 20px;
}

.value {
  font-size: 100px;
}

.calculator {
  margin: 50px 400px;
  border: 2px solid black;
  height: 320px;
  width: 320px;
  background-color: #175b52;
}

.btn {
  border: 2px outset #4d5b59;
  background-color: lightBlue;
  height: 50px;
  width: 50px;
  cursor: pointer;
  margin: 10px;
  font-size: 12px;
  background-color: #43f2d8;
}
