#textbox {
  width: 315px;
  /*height: 40px;*/
  border-radius: 9px;
  border: 3px solid #677774;
}

.header-cal {
  color: #21baa3;
  text-align: center;
  padding-top: 20px;
  margin-bottom: 20px;
  font-family: "Copperplate", sans-serif;
  font-weight: 500;
  text-shadow: 10px 10px 10px #aaa;
  font-size: 30px;
}

.value {
  font-size: 100px;
}

.calculator {
  border: 2px solid #677774;
  height: 345px;
  width: 320px;
  background-color: #cee5e1;
  box-shadow: 10px 10px 5px #888888;
  border-radius: 9px;
}

.btn {
  border: 3px outset #677774;
  /*height: 50px;*/
  /*width: 50px;*/
  cursor: pointer;
  font-size: 18px;
  background-color: #43f2d8;
}
