* {
  box-sizing: border-box;
}

body {
  position: relative;
}

/*index page*/

.anchor {
  padding-top: 30px;
}

.container-fluid.container-nav-bar {
  padding: 0;
}

.project-name {
  text-transform: uppercase;
}

.project-name a {
  color: white;
}

.navbar-toggle {
  border: 1px solid white !important;
}

.navbar-toggle .icon-bar {
  background: #337ab7;
}

div#navbar-menu {
  margin-right: 10px;
}

.nav-item {
  text-transform: uppercase;
  letter-spacing: .05em;
}

#navbar-menu a:hover {
  color: red;
  text-decoration: none;
  transition: 600ms;
}

.carousel {
  margin-left: -15px;
  margin-right: -15px;
}

.carousel-caption h3, .carousel-caption p {
  color: black;
  font-family: "Book Antiqua", serif;
}

.margin-container {
  margin-bottom: 30px;
}

/*about page*/

#about {
  background-image: url("../img/aboutback.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.container-about {
  color: #f1f4f7;
  padding: 0;
  font-family: "Futura", Helvetica, Arial, sans-serif;
} 

.about-header {
  margin-top: 50px;
  text-align: center;
}

.column img { 
  margin-left: 50px;
  width: 60%;
}

#skill-list {
  background: #5AD4C2;
  padding: 0 20px;
  color: #fff;
}

.skill h3 {
  text-transform: uppercase;
}

#row-about-2 {
  text-align: justify;
}

.info {
  padding: 50px 20px 0px 20px;
}

/*iframe*/

#video-centre { 
  margin-top: 20px;
  text-align: center;
  position: relative; 
}

.iframe-video {
  margin: 10px;
  padding: 10px;
}

/*contact page*/

#contact {
  background-image: url("../img/space.jpg");
  background-attachment: fixed;
  background-size: cover;
  color: white;
  padding: 100px;
  padding-top: 50px;
}

/*parallax effect*/

.contact-header h1, .contact-header a {
  font-family: "Goudy Old Style", serif;
  text-shadow: 4px 4px 4px #aaa;
  font-weight: 300;
  color: white;
  text-align: center;
  margin-bottom: 40px;
}

.contact-name {
  font-family: "Copperplate", sans-serif;
  font-weight: 500;
  text-shadow: 10px 10px 10px #aaa;
  font-size: 30px;
}

#details p {
  font-family: "Copperplate", sans-serif;  
  font-weight: 700;
  font-size: large;
  color: white;
}

.contact-part2 {
  margin-top: 100px;
}

#map {
  height: 300px;
  width: 400px;
}

/*work page*/

.header-work h1, .header-work a {
  text-align: center;
  color: black;
  text-decoration: none;
}
.work-img {
  display: block;
  margin: auto;
  max-width: 200px;
  position: relative;
}

.info {
  display: none;
  position: absolute;
  top: 15%;
  color: #fff;
  font-family: "Futura";
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.5em;
  line-height: 1.6;
}

.proj-title {
  font-weight: 100;
}

/*faq page*/

.container-fluid.container-faq {
  margin-top: 30px;
}

.glyphicon:hover {
  color: #fff;
  transition: 600ms;
}

.panel-header {
  color: white;
  font-family: "Copperplate", sans-serif;
  font-weight: 500;
  text-shadow: 10px 10px 10px #aaa;
  font-size: 30px;
  margin-bottom: 30px;
}

.panel-header a {
  color: black;
}
/* modal button */

.learn-more {
  text-align: left;
  float: left;
  padding-left: 18px;
}

.modal-button {
  float: right;
  padding: 15px;
}

button.btn.btn-btn-primary {
  background: skyblue;
}

.modal-content {
  color: black;
}

#modalembed {
  height: 500px;
  width: 100%;
  padding: 10px;
}

.panel-heading {
  background-color: #b6dded;
  font-weight: 100;
}

.panel-body {
  background-color: #b6dded;
  font-size: 15px;
  color: #3a6a77;
}

/*footer*/

.footer-copyright {
  text-align: right;
  color: #337ab7;
  background-color: #b6dded;
  width: 100%;
  height: 80px;
  padding: 20px;
  clear: both;
  line-height: 5px;
  display: block;
}

.footer-copyright p {
  color: red;
  margin-bottom: 2px;
  height: 20px;
  line-height: 30px;
}

.footer a:active {
  color: red;
}
