/*index page*/

.jumbotron {
  background-image: url(../img/landscape.jpg);
  background-size: cover;
}

.carousel {
  margin-left: -15px;
  margin-right: -15px;
}

.carousel-caption h3, .carousel-caption p {
  color: black;
  font-family: "Book Antiqua", serif;
}

body {
  background: none;
}

.col-md-4 h2, col-md-4 p {
  font-family: serif;
  color: #b6dded;
}
