/*index page*/

.jumbotron {
  background-image: url(../img/landscape.jpg);
  background-size: cover;
}

.nav {
  z-index: 1;
}

.navigation-wrapper .icon-bar {
  background: #337ab7;
}

.profileName {
  float: left;
}

.carousel {
  margin-left: -15px;
  margin-right: -15px;
}

.carousel-caption h3, .carousel-caption p {
  color: black;
  font-family: "Book Antiqua", serif;
}

body {
  background: none;
}

.col-md-4 h2, col-md-4 p {
  font-family: serif;
  color: #b6dded;
}

/*about page*/

/*contact page*/

* {
  box-sizing: border-box;
}

body {
  background-image: url(../img/background.jpeg);
  background-size: cover;
  text-align: center;
  color: #fff;
}

.window {
  margin: auto;
  margin-top: 80px;
  width: 100%;
}

.nav {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #012f42;
}

.nav ul li {
  display: inline-block;
  padding: 20px 10px 20px;
  float: right;
}

.nav ul li a {
  text-transform: uppercase;
  letter-spacing: .05em;
}

.nav a:hover {
  color: #b6dded;
  text-decoration: none;
  transition: 600ms;
}

.contact-header {
  font-family: "Goudy Old Style", serif;
  text-shadow: 4px 4px 4px #aaa;
  font-weight: 300;
}

.name {
  margin-top: 100px;
  font-family: "Copperplate", sans-serif;
  font-weight: 500;
  text-shadow: 10px 10px 10px #aaa;
  font-size: 30px;
}

.contact h3 {
  font-weight: normal;
  font-size: 18px font-family: "Lucida Sans Typewriter", sans-serif;
  text-transform: uppercase;
  color: #b6dded;
}

.contact p {
  font-size: 18px;
  font-family: "Papyrus", sans-serif;
  font-weight: 300;
}

/*faq page*/

.container.margin-container {
  margin-top: 60px;
}

.glyphicon:hover {
  color: #fff;
  transition: 600ms;
}

.panel-header {
  color: white;
  font-family: "Copperplate", sans-serif;
  font-weight: 500;
  text-shadow: 10px 10px 10px #aaa;
  font-size: 30px;
}

.panel-header a {
  color: white;
}

.panel-heading {
  background-color: #b6dded;
  font-weight: 100;
}

.panel-body {
  background-color: #b6dded;
  font-size: 15px;
  color: #3a6a77;
}
